@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .footer p{
      font-size: 20px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
 // margin-bottom: 60px;
 height:100%;
}
header{
    width: 100%;
    background: rgb(87, 17, 17);
    text-align: center;
    height: 100%;
}

.logoMoran{
    width: -150px;
    height: 100px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'poppins', sans-serif;
   
}
.footer {
    background: rgb(87, 17, 17) !important;

}
    .footer .sec h2 {
        color: white;
        font-weight: 500;
        margin-bottom: 15px;
        text-decoration: underline solid lime 3px;
    }
    .footer p{
        font-size: 1vw;
    }

.hr {
    height: 0.1cm !important;
    margin: 0;
    color: aliceblue;
}

.card-header h3{
    text-align: center;
}

.card img {
    height: 180px;
    width: 250px;
    border: 5px solid;
    box-shadow: 2px 2px black, -5px 0 5px #5b1f1c;
}

.card input {
    font-size: 20px;
}

.card {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.card-header {
    box-shadow: 5px 5px 5px black;
}

    .card-header h4 {
        font-family: "Alfa Slab One", cursive;
    }

.card-text p {
    font-family: "Mukta", sans-serif;
    font-size: large;
    font-weight: 200;
    text-align: left;
}

.card-text ul li::marker {
    color: red;
}